.githubflex{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #C898FD ;
    margin-left: 35vw;
    margin-right: 35vw;
    margin-top: 2vh;
    margin-bottom: 2vh;
    border-radius: 30px;
    transition: transform 1s ease;

}

.circle{
    color: white;
    background-color: #8534F3;
    width: 5vw;
    height: 5vw;
    margin-bottom: 1vh;
    border-radius: 50%;
    
} 

.numRepos{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 4vw;
    margin: 0;
    font-family: 'Mona Sans';
    transition: transform 1s ease; 
}

.githubH1{
    color:  white;
    font-family: 'Mon Sans';
}

.githubflex:hover{
    transform: scale(1.1);
    .numRepos{transform: rotate(360deg);}
}