.resume {
  min-height: 120vh; /* just to ensure scroll space */
  display: flex;
  align-items: center;
  justify-content: center;
}
#skills{
    display: flex;
    flex-direction: column;
    margin-left: 10vw;
    margin-right: 10vw;
    border: solid 2px rgb(165, 200, 158);
    margin-bottom: 2vh;
}

#programmingSkills{
    background-color: bisque;
    padding-left: 1vw;
}


#lifeSkills{
    padding-left: 1vw;
    background-color: beige;
    border-top: solid 2px rgb(165, 200, 158);
}

#lifeLanguages{
    padding-left:1vw;
    background-color: bisque;
    border-top: solid 2px rgb(165, 200, 158);
}

.resume-card {
  padding: 2rem;

  transition:
    transform 1s ease,
    opacity 0.6s ease;
}

/* Initial / scrolled-up state */
.resume-card.out {
  transform: translateX(-10vw);
  opacity: 0;
}

/* Scrolled-down state */
.resume-card.in {
  transform: translateX(0);
  opacity: 1;
}

